.cover {
    border-style: solid;
    border-width: 1px 3px 3px 1px;
    border-color: #cccccc #aaaaaa #aaaaaa #cccccc;
    height: 220px;
    width: 280px;
    margin-bottom: 20px;
}

.cover  .banner img {
    margin-left: -40px;
}
.cover .title {
    margin-left: 0px;
    padding: 0.4em 0 0 0;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    /*background-color: green;*/
    width: 280px;
}
.cover  .info {
    margin-left: 0px;
    padding: 0;
    text-align: justify;
    /*background-color: red;*/
    width: 280px;
}
.cover  .icons {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0.5em;
    /*background-color: cyan;*/
    text-align: right;
}


.presentation  >  .banner {
    height:120px
}
.presentation  >  .section {
    margin-bottom: 1em;
}
.presentation  >  .section > .title {
    padding-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.card {
    margin: 3px;
    padding: 3px;
    font-size: 1.4em;
    /*border-style: solid;
    border-width: 1px; */
}
.card-purple {
    border-color: #9881F5;
    color: #9881F5;
    /* border-color: #7A0D7A;
    color: #7A0D7A; */
}
.card-green {
    border-color: #9DBC06;
    color: #9DBC06;
}
.card-pink {
    border-color: #F22F69;
    color: #F22F69;
}
.card-orange {
    border-color: #F5930E;
    color: #F5930E;
}
.card-blue {
    border-color: #2F5168;
    color: #2F5168;
}
.card-cyan {
    border-color: #4DB3B3;
    color: #4DB3B3;
}
.card-red {
    border-color: #E64A45;
    color: #E64A45;
}
.card-placed {
    padding: 4px;
}
.card-unreachable  {
    opacity:.50;
    -moz-opacity:.50;
    filter:alpha(opacity=50);
}
.card-completed {
    font-size: 1.7em;
    border-width: 1.2px;
    padding-top: 0.2em;
    padding-right: 0.1em;
}

.presentation > .banner > .card-completed {
    padding-left: 4px;
}
.wingame {
    font-size: 2em;
    font-family: Verdana, Arial, sans;
    font-style: italic;
    color: #E64A45;
}

