
.lab-presentation {
    margin-left: 0px;
}
.lab-presentation .banner {
    /*height: 135px;*/
    border-color: #eeeeee;
    border-style: solid;
    border-width: 0.5em;
    padding: 10px;
}
.lab-presentation .banner .title {
    font-size: 1.8em;
}

.lab-presentation .banner .card-completed {
    padding-top: 5px;
}

.lab-presentation  >  .section {
    margin-bottom: 1em;
}
.lab-presentation  >  .section > .title {
    padding-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}
