<div class="container">
  <h2>Labs</h2>


    <div ng-show="completed">
        <p class="wingame">Bravo !</p>
    </div>


    <table>
        <tr ng-repeat="row in board">
            <td ng-repeat="cell in row" ng-click="playCell(cell)" >
                <div ng-show="{{ cell.card.visible }}">
                    <div class="cover">
                        <center>
                            <img src="{{ cell.card.lab.getCoverImage() }}" />
                        </center>
                        <p>{{ cell.card.lab.name }}</p>
                        <p>{{ cell.card.lab.description }}</p>
                         <!--
                         <span class="glyphicon glyphicon-{{ cell.card.shape }} card card-{{ cell.state }} card-{{ cell.card.color }}"></span>
                          -->
                         <span class="{{ cell | renderCard }}"></span>
                         <span class="{{ cell | renderCompleted }}"></span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <br>
</div>
