<div class="container">
  <h2>Labs</h2>


    <div ng-show="completed">
        <p class="wingame">Bravo !</p>
    </div>


    <div class="panel panel-default">
       <div zclass="panel-body">
           <ul class="row" >
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
                        ng-repeat="cell in visibleCells">
                <div ng-show="{{ cell.card.visible }}">
                    <div class="cover">
                        <div class="banner" ng-click="playCell(cell)">
                             <img src="{{ cell.card.lab.getCoverImage() }}" />
                        </div>
                        <div class="info" ng-click="playCell(cell)">
                            <p class="title">{{ cell.card.lab.name }}</p>
                            <p>{{ cell.card.lab.description }}</p>
                             <!--
                             <span class="glyphicon glyphicon-{{ cell.card.shape }} card card-{{ cell.state }} card-{{ cell.card.color }}"></span>
                             -->
                        </div>
                         <div class="icons" style="vertical-align: middle;">
                             <span class="{{ cell | renderCard }}"></span>
                             <span class="{{ cell | renderCompleted }}" ng-click="completeCell(cell)"></span>
                         </div>
                   </div>
                </div>
               </div>
           </ul>
        </div>
    </div>

    <br>
</div>
