<div class="container-fluid">
  <h2>Labs</h2>


    <div ng-show="completed">
        <p class="wingame">Bravo !</p>
    </div>
<!--
    <div class="panel panel-default">
       <div class="panel-body">
-->
           <ul class="row" >
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"  ng-repeat="cell in visibleCells">
                   <div class="cover">
                        <ul class="row banner" >
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                 <img src="{{ cell.card.lab.getCoverImage() }}" ng-click="playCell(cell)"/>
                            </div>
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                              <ul class="row icons">
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span class="{{ cell | renderCard }}"></span>
                                  </div>
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span class="{{ cell | renderCompleted }}" ng-click="completeCell(cell)"></span>
                                  </div>
                              </ul>
                            </div>
                        </ul>
                        <ul class="row title" ng-click="playCell(cell)">
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                 <span>{{ cell.card.lab.name }} </span>
                              </div>
                        </ul>
                      <ul class="row info" ng-click="playCell(cell)">
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span>{{ cell.card.lab.description }}</span>
                             </div>
                        </ul>
                   </div>
               </div>
           </ul>
    <!--
        </div>
    </div>
    -->

    <br>
</div>
