<div class="container-fluid" ng-show="activeCell">
    <div class="lab-presentation">
        <div class="banner">
            <img style="float:right" src="{{ activeCell.card.lab.getCoverImage() }}" />
            <h2>{{ activeCell.card.lab.name }}</h2>
            <p>
                <span class="{{ activeCell | renderCard }}"></span>
                <span class="{{ activeCell | renderCompleted }}" ng-click="completeCell(activeCell)"></span>
            </p>
        </div>
        <div style="float:right;" class="section" ng-show="{{ activeCell.card.lab.getDemoImage() != null }}">
            <p class="title">Démo :</p>
            <center>
                <img width=300 src="{{ activeCell.card.lab.getDemoImage() }}" />
            </center>
            <p> </p>
        </div>
        <div class="section page-header">
            <p class="title">Objectif :</p>
            <p>{{ activeCell.card.lab.description }}</p>
        </div>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="/#/labinfo/#collapse1">
                Collapsible Group 1</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="/#/labinfo/#collapse2">
                Collapsible Group 2</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="/#/labinfo/#collapse3">
                Collapsible Group 3</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
        </div>
        <div class="section">
            <p class="title">Composants :</p>
            <ul class="row" >
               <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2"
                    ng-repeat="cmp in activeCell.card.lab.bom.components">
                <center><img style="border: solid;" src="/documents/components/led/thumbnail.png"
                    ng-click="showComponent(cmp)"/></center>
                <p style="text-align: center;"> {{ cmp.id.name }}  <br>  x {{ cmp.qty }} </p>
               </div>
            </ul>
        </div>
        <div class="section">
            <p class="title">Instructions :</p>
            <p><a href="{{ activeCell.card.lab.getGuide() }}" target="{{ activeCell.card.lab.id }}" >Ouvrir les instructions</a></p>
        </div>
        <div class="section" ng-show="{{ activeCell.card.lab.getCode() != null }}">
            <p class="title">Programme :</p>
            <p><a href="{{ activeCell.card.lab.getCode() }}" download="{{ activeCell.card.lab.ref }}.zip" >Télécharger le code</a></p>
        </div>
        <div class="section">
            <p class="title">Montage :</p>
            <p><img src="{{ activeCell.card.lab.getCircuit() }}" width=300></p>
        </div>
        <div class="section" style="clear: both;margin-top:3em;">
             <a href="#/game"><span class="glyphicon glyphicon-triangle-left"> Choisir un autre montage</a>
        </div>
         <!--
        <div class="section">
          <iframe width="100%" name="lab" ng-src="markdown/sample.html"></iframe>
        </div>
        -->
     </div>
</div>
