<div class="container-fluid" ng-show="activeCell">
    <div class="lab-presentation">
        <div class="banner">
            <img style="float:right" src="{{ activeCell.card.lab.getCoverImage() }}" />
            <h2>{{ activeCell.card.lab.name }}</h2>
            <p>
                <span class="{{ activeCell | renderCard }}"></span>
                <span class="{{ activeCell | renderCompleted }}" ng-click="completeCell(activeCell)"></span>
            </p>
        </div>
        <div style="float:right;" class="section" ng-show="{{ activeCell.card.lab.getDemoImage() != null }}">
            <p class="title">Démo :</p>
            <center>
                <img width=300 src="{{ activeCell.card.lab.getDemoImage() }}" />
            </center>
            <p> </p>
        </div>
        <div class="section">
            <p class="title">Objectif :</p>
            <p>{{ activeCell.card.lab.description }}</p>
        </div>
        <div class="section">
            <p class="title">Instructions :</p>
            <p><a href="{{ activeCell.card.lab.getGuide() }}" target="{{ activeCell.card.lab.id }}" >Ouvrir les instructions</a></p>
        </div>
        <div class="section" ng-show="{{ activeCell.card.lab.getCode() != null }}">
            <p class="title">Programme :</p>
            <p><a href="{{ activeCell.card.lab.getCode() }}" download="{{ activeCell.card.lab.ref }}.zip" >Télécharger le code</a></p>
        </div>
        <div class="section">
            <p class="title">Montage :</p>
            <p><img src="{{ activeCell.card.lab.getCircuit() }}" width=300></p>
        </div>
        <div class="section" style="clear: both;margin-top:3em;">
             <a href="#/game"><span class="glyphicon glyphicon-triangle-left"> Choisir un autre montage</a>
        </div>
         <!--
        <div class="section">
          <iframe width="100%" name="lab" ng-src="markdown/sample.html"></iframe>
        </div>
        -->
     </div>
</div>
