<div class="container">
  <h2>Players</h2>

    <!-- Player input -->
    <form role="form" ng-submit="addPlayer()">
        <div class="row">
            <p class="input-group">
                <input type="text" ng-model="newPlayer" placeholder="What is your name?" class="form-control">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Add" >
                </span>
            </p>
        </div>
    </form>

    <!-- Players list -->
    <div class="row">
        <ul ng-repeat="player in players">
            <li>{{ player }}</li>
        </ul>
    </div>

</div>
